version: '3.4'

services:
  recipebook.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_HTTP_PORTS=8080
      - ASPNETCORE_URLS=http://+:8080
      - RecipeBookDatabase__ConnectionString=mongodb://mongodb:27017/
    ports:
      - "50673:8080"